#gameScreen{
    display: none;
    flex:content;
    flex-direction: column;
    height:100%;
    width:auto;
    border-bottom-color: black;
    border-radius: 5px;
    border-style: solid;
    background-image: url(/images/jungle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px auto;
    }

#upSection{
    display: flex;
    flex:content;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    border-color: black;
    border-style: solid;
    margin: 5px auto;
    }

#upSection div{
    padding: 20px 20px 20px 20px;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    margin: 10px;
}

#timeLeft{
padding-right: 100px;
}

#downSection{
    margin-top: 50px;
    display: flex;
    place-content: center;
    flex:content;
    flex-direction:row;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-color: black;
    border-radius: 50px;
    border-style: solid;
    height: 300px;
    width: 600px;
    background-color: grey;
}

.card{
    display: flex;
    align-content: center;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    height: 100px;
    width: 68px;
    margin: 10px;
    background-image: url('/images/stockCard.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.flippedCard{
    display: flex;
    align-content: center;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    height: 100px;
    width: 68px;
    margin: 10px;
}

.ledLight{
    background-color: red;
}

#timeLeft{
    background-color: blue;
}

#title{
    background-color: white;
}


